.EasyMDEContainer.dark-theme .CodeMirror {
    background-color: rgba(41, 51, 65);
    /* bg-slate-600 with opacity */
    color: white;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.EasyMDEContainer.dark-theme .CodeMirror-cursor {
    border-left: 2px solid white;
    /* 光标颜色 */
}

.EasyMDEContainer.dark-theme .CodeMirror-selected {
    background: rgba(255, 255, 255, 0.1);
    /* 选中文字背景颜色 */
}

.EasyMDEContainer.dark-theme .editor-toolbar button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.EasyMDEContainer.dark-theme .editor-toolbar {
    background-color: rgba(41, 51, 65);
    /* bg-slate-600 with opacity */
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.EasyMDEContainer.dark-theme .editor-toolbar .active {
    background-color: rgba(255, 255, 255, 0.1);
}

.EasyMDEContainer.dark-theme .CodeMirror .cm-comment {
    background-color: transparent;
}

.EasyMDEContainer.dark-theme .editor-preview-active-side {
    background-color: rgb(37, 42, 48);
}

.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
    background-color: transparent;
}