.EasyMDEContainer.light-theme .CodeMirror {
    background: linear-gradient(to bottom, rgb(224, 242, 254), white);
    /* bg-sky-200/60，60% 透明背景 */
    color: black;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* // 注释颜色 */
.EasyMDEContainer.light-theme .CodeMirror .cm-comment {
    background-color: transparent;
}

.EasyMDEContainer .editor-preview  pre{
    background:transparent;
}

/* 预览区域样式 - 简化选择器 */
.EasyMDEContainer.light-theme .editor-preview-active-side {
       background: linear-gradient(to bottom, rgb(218, 228, 235), white);
}

/* // 光标颜色 */
.EasyMDEContainer.light-theme .CodeMirror-cursor {
    border-left: 3px solid black; /* 光标颜色 */
}

/* // 工具栏样式调整 */
.EasyMDEContainer.light-theme .editor-toolbar {
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.EasyMDEContainer.light-theme .editor-toolbar .active {
    background-color: rgba(0, 0, 0, 0.1);
}

.EasyMDEContainer.light-theme .editor-toolbar button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.EasyMDEContainer.light-theme .CodeMirror-selected {
    background: rgba(0, 0, 0, 0.1);
}

.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
    background-color: transparent;
}