.EasyMDEContainer .CodeMirror.light-theme {
    background-color: rgb(156, 204, 252, 0.2);
    /* bg-sky-200/60，60% 透明背景 */
    color: black;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* // 注释颜色 */
.EasyMDEContainer .CodeMirror.light-theme .cm-comment {
    background-color: transparent;
}


/* // 光标颜色 */
.EasyMDEContainer .CodeMirror-cursor.light-theme {
    border-left: 3px solid black; /* 光标颜色 */
}


/* // 工具栏样式调整 */
.EasyMDEContainer .editor-toolbar.light-theme {
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.EasyMDEContainer .editor-toolbar.light-theme .active {
    background-color: rgba(0, 0, 0, 0.1);
}

.EasyMDEContainer .editor-toolbar.light-theme button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.EasyMDEContainer .CodeMirror-selected.light-theme {
    background: rgba(0, 0, 0, 0.1);
}

.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
    background-color: transparent;
}